* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lista-palabras, .resultado {
  float: left;
  width: calc(50% - 20px);
  min-height: 200px;
  border: 3px dashed #999;
  padding: 10px;
}
.lista-palabras {
  margin-right: 20px;
}
li {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px 10px;
  background-color: #ccc;
  margin-left: 4px;
}
